#posts-tbl {

    border-collapse: collapse;
    margin-bottom: 40px;
}

#posts-tbl tr,
#posts-tbl td,
#posts-tbl th {
    border: 1px solid black;
    padding: 10px;

} 

#forms {

padding: 40px;;

}